// Colors
//////////////////////

$waitr-green: #22BB22;
$waitr-red: 	#BB226E;


// Spacing
//////////////////////

$half-padding: 		10px;
$general-padding: 20px;
$large-padding: 	30px;


// Border
//////////////////////

$general-border-radius: 5px;