// Colors
//////////////////////

$waitr-green: #9DBB2E;
$waitr-red: 	#BB226E;
$color-gray:	#aaa;


// Spacing
//////////////////////

$half-padding: 		10px;
$general-padding: 20px;
$large-padding: 	30px;


// Border
//////////////////////

$general-border-radius: 0px;
$large-border-radius: 	10px;