body {
	font-family: "Proxima Nova", "Helvetica Neue", sans-serif;
}

.container {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}

a {
	text-decoration: none;
	color: $color-gray;
	transition: color 0.2s ease-in-out;

	&:visited {
		color: #888;
	}

	&.danger {
		&:hover, &:focus {
			color: $waitr-red;
		}
	}

	&:hover, &:focus {
		color: $waitr-green;
	}

	&.pill {
		border-radius: $general-border-radius;
		padding: 10px 20px;
		color: $waitr-green;
		min-width: 100px;

		background: white;
		border: 1px solid $waitr-green;
		transition: all 0.3s ease-in-out;

		&:visited {
			color: $waitr-green;
		}

		&:hover, &:focus {
			background: $waitr-green;
			color: white;
		}

		&.danger {
			background: white;
			border: 1px solid $waitr-red;
			color: $waitr-red;

			&:hover, &:focus {
				background: $waitr-red;
				color: white;
			}
		}

		&.neutral {
			background: white;
			border: 1px solid $color-gray;
			color: $color-gray;

			&:hover, &:focus {
				background: $color-gray;
				color: white;
			}
		}
	}
}

input[type='submit'] {
	cursor: pointer;
	font-size: 14px;
	padding: 10px 20px;
	min-width: 100px;
	border-radius: $general-border-radius;
	transition: all 0.3s ease-in-out;
	color: $waitr-green;
	background: white;
	border: 1px solid $waitr-green;
	&:hover, &:focus {
		background: $waitr-green;
		color: white;
	}

	&.danger {
		color: $waitr-red;
		background: white;
		border: 1px solid $waitr-red;
		&:hover, &:focus {
				background: $waitr-red;
				color: white;
		}
	}
}

.global-nav {
	text-align: right;
	padding: 20px 0;
	a {
		margin-left: 20px;
		padding: 10px;
	}
}

