body {
	font-family: "Proxima Nova", "Helvetica Neue", sans-serif;
}

.container {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}

a {
	text-decoration: none;
	color: $color-gray;
	transition: color 0.2s ease-in-out;

	&:visited {
		color: #888;
	}

	&.danger {
		&:hover, &:focus {
			color: $waitr-red;
		}
	}

	&:hover, &:focus {
		color: $waitr-green;
	}

	&.pill {
		border-radius: $general-border-radius;
		padding: 10px 20px;
		color: $waitr-green;
		min-width: 150px;

		background: white;
		border: 1px solid $waitr-green;
		transition: all 0.3s ease-in-out;

		&:visited {
			color: $waitr-green;
		}

		&:hover, &:focus {
			background: $waitr-green;
			color: white;
		}

		&.danger {
			background: white;
			border: 1px solid $waitr-red;
			color: $waitr-red;

			&:hover, &:focus {
				background: $waitr-red;
				color: white;
			}
		}

		&.neutral {
			background: white;
			border: 1px solid $color-gray;
			color: $color-gray;

			&:hover, &:focus {
				background: $color-gray;
				color: white;
			}
		}
	}
}

input[type='submit'] {
	cursor: pointer;
	font-size: 14px;
	padding: 10px 20px;
	min-width: 150px;
	border-radius: $general-border-radius;
	transition: all 0.3s ease-in-out;
	color: $waitr-green;
	background: white;
	border: 1px solid $waitr-green;
	&:hover, &:focus {
		background: $waitr-green;
		color: white;
	}

	&.danger {
		color: $waitr-red;
		background: white;
		border: 1px solid $waitr-red;
		&:hover, &:focus {
				background: $waitr-red;
				color: white;
		}
	}
}

.global-nav {
	text-align: right;
	padding: 20px 0;
	a {
		margin-left: 20px;
		padding: 10px;
	}
}

// CARDS

.card {
	box-shadow: 0 2px 2px rgba(0, 0, 5, 0.3);
	padding: 0;
	margin: $general-padding 0;
	display: block;

	.card-header {
		padding: $half-padding $general-padding;
		background-color: $waitr-green;

		&.processing {
			background-color: $color-gray;
		}
		&.complete {
			background-color: $waitr-green;
		}
		&.cooking {
			background-color: $waitr-red;
		}

		h2 {
			margin: 0;
			display: inline-block;
			color: white;
			a {
				color: white;
			}
			&.progress {
				float: right;
				text-align: right;
			}
		}
	}

	.card-body {
		padding: $half-padding $general-padding;
		position: relative;

		.card-actions {
			position: absolute;
			right: $general-padding;
			bottom: $general-padding;
			text-align: right;
			input[type='submit'] {
				margin-left: $half-padding;
			}
		}
	}
}

