%h1 Edit item
= render :partial => 'form'

= button_to "Delete Item", item_path(@item), :method => 'delete', :class => 'pill danger', :data => { :confirm => "Are you sure you want to delete #{ @item.name }?"}
